.parallax_inner {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: #fff;
	height: 50vh;
}

.title {
	margin-bottom: 30px;
	font-size: 36px;
	font-weight: 500;
	letter-spacing: 1px;
}

.text {
	margin-bottom: 20px;
	max-width: 50%;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.3;
	text-align: center;
}
