@import './../../assets/styles/variables.css';

.products {
	padding-top: 100px;
	padding-bottom: 100px;
}

.products_container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.products_item {
	padding: 15px 15px 20px 15px;
	margin-bottom: 35px;
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	width: 20%;
	color: var(--color-medium-grey);
	z-index: 2;
	background-color: #f5f5f5;
	transition: box-shadow 0.3s linear;
}

.products_item:hover {
	box-shadow: 0 0 20px 5px var(--color-medium-grey-shade);
}

.products_item__img {
	margin-bottom: 23px;
	display: block;
	overflow: hidden;
	opacity: 1;
	transition: opacity 0.4s;
}

.products_item__img:hover {
	opacity: 0.8;
}

.products_item__img img {
	display: block;
	width: 100%;
	height: 400px;
	object-fit: cover;
}

.products_item__info {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.products_item__text {
	width: 70%;
}

.products_item__title {
	margin-bottom: 10px;
	font-size: 20px;
	line-height: 1.25;
	font-weight: 400;
	color: var(--color-medium-blue);
	text-transform: uppercase;
}

.products_item__subtitle {
	font-size: 12px;
	line-height: 1.28;
}
