.promo_container {
	position: relative;
	height: 90vh;
}

.promo {
	position: absolute;
	top: 30%;
	left: 0;
	right: 0;
	z-index: 50;
}

.promo__item_title {
	margin-bottom: 20px;
	font-family: 'EuclidFlexLight';

	font-size: 64px;
	font-weight: 300;
	color: inherit;
}

.promo__item_link {
	padding-bottom: 2px;
	letter-spacing: 1px;
	border-bottom: 1px solid #3c3c3b;
}
