.location_container {
	padding-top: 100px;
	padding-bottom: 100px;
}

.map_container {
	height: 100%;
	width: 100%;
}

.map_desc {
	margin-bottom: 55px;
	max-width: 100%;
}

.map_desc__title {
	margin-bottom: 15px;
	font-size: 38px;
	letter-spacing: 1.5px;
	font-weight: 600;
}

.map_desc__details {
	display: inline-block;
	font-size: 20px;
	letter-spacing: 1px;
	font-style: italic;
}
