@import './../../assets/styles/variables.css';

.burger_nav {
	position: fixed;
	width: 30%;
	height: 50px;
	background-color: var(--color-medium-grey-shade);
	z-index: 50;

	display: flex;
	align-items: center;
}

.burger_btn {
	position: relative;
	width: 35px;
	height: 25px;
	cursor: pointer;
}

.burger_btn span {
	position: absolute;
	top: 12.5px;
	width: 35px;
	height: 2px;
	background-color: var(--color-light);
}

.burger_btn:before {
	content: '';
	position: absolute;
	top: 0;
	width: 35px;
	height: 2.5px;
	background-color: var(--color-light);
}

.burger_btn::after {
	content: '';
	position: absolute;
	bottom: 0;
	width: 35px;
	height: 2px;
	background-color: var(--color-light);
}
