.header {
	/* position: absolute; */
	left: 0;
	right: 0;
	z-index: 100;
	padding: 10px 0 10px 0;
	font-size: 18px;
	color: #fff;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0, transparent);
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__menu_link {
}

.header__contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px 0;
}

.contact__link {
}
