.breadcrumbs {
	position: absolute;
	left: 1.5%;
	bottom: 50px;
	display: flex;
	align-items: center;
	gap: 0 30px;
}

.crumb {
	position: relative;
	padding-bottom: 4px;
	padding-right: 4px;
	color: #ffffff;
	border-bottom: 1px solid rgb(255, 255, 255, 0.5);
}

.crumb::after {
	content: '/';
	position: absolute;
	bottom: 2px;
	right: -15px;
	color: rgb(255, 255, 255, 0.5);
}
