@font-face {
	font-family: 'EuclidFlexLight';
	src: url('../fonts/EuclidFlex/EuclidFlexLight.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: 'EuclidFlexRegular';
	src: url('../fonts/EuclidFlex/EuclidFlexRegular.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'EuclidFlexMedium';
	src: url('../fonts/EuclidFlex/EuclidFlexMedium.ttf') format('truetype');
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'EuclidFlexSemiBold';
	src: url('../fonts/EuclidFlex/EuclidFlexSemiBold.ttf') format('truetype');
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: 'EuclidFlexBold';
	src: url('../fonts/EuclidFlex/EuclidFlexBold.ttf') format('truetype');
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'EuclidFlexItalic';
	src: url('../fonts/EuclidFlex/EuclidFlexItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: 'EuclidFlexMediumItalic';
	src: url('../fonts/EuclidFlex/EuclidFlexMediumItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 500;
}

@font-face {
	font-family: 'EuclidFlexMediumItalic';
	src: url('../fonts/EuclidFlex/EuclidFlexMediumItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 500;
}

@font-face {
	font-family: 'EuclidFlexBoldItalic';
	src: url('../fonts/EuclidFlex/EuclidFlexBoldItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 700;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	font-family: 'EuclidFlexRegular', 'sans serif';
	font-size: 16px;
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	color: #3c3c3b;
	background-color: #fff;
}

.bg_container {
	margin: 0 auto;
	padding: 0 10px;
	max-width: 1420px;
}
